@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primaria: #277B4A;
  --secundaria: #D1C584;
  --superficie: white;
  --fundo: #EAEAEA;
  --erro: red;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--fundo);
  font-family: 'Roboto';
} 

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  width: 100%;
  justify-content: center;
}

header {
  height: 150px;
  width: 100%;
  background-color: var(--secundaria);
  text-align: center;
}

header img {
  height: 150px;
}

footer {
  display: grid;
  grid-template-rows: repeat(3, 10fr);
  padding: 10px;
  height: 100px;
  width: 100%;
  background-color: var(--primaria);
  color:white;
  text-align: center;
}

.rodape {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

footer a {
  color:white;
  text-decoration: none;
}

footer a:hover {
  color: var(--secundaria);
  text-decoration: none;
}

nav {
  margin: 0px;
  height: 30px;
  background-color: var(--primaria);
  text-align: center;
}

nav a {
  margin: 0px;
  padding: 0px 5%;
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-decoration-line: none;
  vertical-align: -25%;
}

nav a:hover {
  color: var(--secundaria);
}

.intro {
  display: grid;
  grid-template-rows: repeat(3);
  width: 100%;
  text-align: center;
}

.intro button {
  border: opx solid;
  width: 250px;
  height: 60px;
  background-color: var(--primaria);
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.intro button:hover {
  background-color: white;
  color: var(--primaria);
}

.inicio {
  margin: auto;
  width: 100%;
  background-color: var(--secundaria);
  text-align: center;
}

.inicio img {
  margin: 12% 0px;
}

.menu {
  width: 100%;
  position: relative;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  box-sizing: border-box;
  flex: 1;
}

@media (min-width: 200px) and (max-width: 501px) {
  .menu {
    grid-template-columns: repeat(1, 1fr);
  }
  .logo img {
    width: 250px;
  }
  nav a {
    padding: 0px 2%;
  }
}

@media (min-width:500px) and (max-width: 740px) {
  .menu {
    grid-template-columns: repeat(2, 1fr);
  }
  .logo img {
    width: 350px;
  }
  nav a {
    padding: 0px 3%;
  }
}

@media (min-width:741px) and (max-width: 1000px) {
  .menu {
    grid-template-columns: repeat(3, 1fr);
  }
  .logo img {
    width: 500px;
  }
  nav a {
    padding: 0px 5%;
  }
}


/* Parte relativa a cada item */

.item {
  margin: 20px;
  height: 350px;
  width: 240px;
  box-sizing: border-box;
  background-color: whitesmoke;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.043);
}

.item img {
  margin: 0px;
  padding: 0px;
  width: 240px;
  height: 120px;
  justify-self: center;
}

.item-titulo {
  margin: 0px;
  padding: 15px;
  height: 20px;
  background-color: white;
  color: #000000;
  font-weight: 600;
  font-size: 20px;
}

.item-preco {
  margin: 0px;
  padding: 15px;
  height: 20px;
  background-color: white;
  font-weight: 600;
  font-size: 14px;
}

article a {
  height: 20px;
  color: #707070;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  text-overflow: ellipsis;
  text-decoration-line: none;
}

article a:hover {
  font-weight: 600;
}

.item-botoes{
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 5px;
  padding: 4px;
  text-align: center;
}

.quantity {
  margin: 5px;
  padding: 4px;
  text-align: center;
}

.quantity span {
  margin: 0px 5px;
  color: black;
  font-weight: 700;
  font-size: 12px;
}

.quantity span:nth-of-type(even) {
  padding: 4px;
  border: 1px solid var(--fundo);
  display: inline-block;
  width: 24px;
  font-size: 10px;
}

.mais, .menos {
  margin: 2px;
  height: 20px;
  width: 20px;
  border: 1px solid #D9D9D9;
  border-radius: 100px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
  background: #FFFFFF;
  text-align: center;
}

.botao {
  padding: 5px;
  height: 32px;
  width: 87px;
  border: 0px solid;
  box-sizing: border-box;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.043);
  background-color: var(--primaria);
  color: white;
  font-weight: 700;
  justify-self: center;
}


.desc {
  margin: 20px auto;
  padding: 0px 0px 15px 0px;
  width: 500px;
  box-sizing: border-box;
  background-color: whitesmoke;
  grid-template-columns: repeat(1);
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.043);
  justify-self: center;
  text-align: center;
}

.desc img {
  margin: 0px;
  padding: 0px;
  width: 500px;
}

.desc h3 {
  margin: 0px;
  padding: 15px;
  height: 20px;
  background-color: white;
  font-weight: 600;
  font-size: 20px;
}

.desc p {
  margin: 0;
  padding: 15px;
  font-size: 14px;
  text-align: justify;
}

.botao:hover {
  color: black;
  background-color: var(--secundaria);
}

.mais:hover, .menos:hover{
  background-color: var(--fundo);
}


@media (min-width:200px) and (max-width: 399px) {
  .desc img{
      width: 200px;
  }
  .desc h2{
      padding: 10px;
  }
  .desc p{
      padding: 10px;
  }
}

@media (min-width:400px) and (max-width: 650px) {
  .desc img{
      width: 320px;
  }
}


.banner {
  position: relative;
  padding: 5% 15%;
  background-color: black;
  text-align: center;
  box-sizing: border-box;
}

.banner img {
  height: 175px;
  width: 1024px;
}

.banner h3 {
  font-family: 'Roboto';
  font-weight: 700;
  color: white;
}

.banner p {
  font-family: 'Roboto';
  font-weight: 700;
  color: white;
}